body{
    margin:0;
    background:#f5ecd7;
    font-family:Montserrat,sans-serif;
    color:#2c3e2d;
}

header{
    text-align:center;
    padding:80px;
    background:linear-gradient(
    45deg,
    #6b8e23,
    #556b2f
    );
    color:white;
}

header h1{
    font-family:'VT323', monospace;
    font-size:5rem;
    letter-spacing:4px;
}

header button{
    padding:15px 30px;
    border:none;
    background:#ffcc00;
    cursor:pointer;
    font-weight:bold;
    box-shadow:4px 4px 0 black;
}

nav{
    display:flex;
    justify-content:center;
    gap:30px;
    background:#3f5f2a;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
}

section{
    padding:50px;
}

h2{
    text-align:center;
}

.cards{
    display:flex;
    gap:20px;
    justify-content:center;
    flex-wrap:wrap;
}

.card{
    width:250px;
    background:white;
    padding:20px;
    border:3px solid #556b2f;
    box-shadow:6px 6px 0 #999;
}

.barra{
    width:80%;
    height:35px;
    background:#ddd;
    margin:auto;
    border:2px solid black;
}

#progresso{
    width:0%;
    height:100%;
    background:#2ecc71;
}

#valor{
    text-align:center;
}

.curiosidade{
    text-align:center;
}

.quiz{
    display:flex;
    justify-content:center;
    gap:15px;
    flex-wrap:wrap;
}

.quiz button{
    padding:15px;
    cursor:pointer;
}

.contador{
    font-size:2rem;
    text-align:center;
    font-weight:bold;
}

footer{
    text-align:center;
    background:#3f5f2a;
    color:white;
    padding:20px;
}

button{
    transition:.3s;
}

button:hover{
    transform:scale(1.05);
}